.home {

  header{
    display: flex;
    border-bottom: 2px dashed rgb( 179, 179, 179);
    justify-content: space-between;
    height: 10vh;
    padding-top: 3vh;

    h1 {
      margin-top: 8px;
      margin-left: 11vw;
    }
  }

  .header-img {
    margin-left: 10vw;
    width: 85vw;
  }

  .top-welcome {
    border-bottom: 2px dashed rgb( 179, 179, 179);
    margin-top: 20px;
    width: 80vw;
  }

  .content-section {
    margin: 30px 0px 60px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80vw;

   
    
    .text-content {
      width: 48%;
      padding-right: 1%;
    }

    .img-content {
      width: 52%;
      padding-left: 5%;

      img {
        border-radius: 10px;
      }
    }
  }

  .inverse-content {
    padding-bottom: 30px;
    border-bottom: 2px dashed @navigation-border;

    .text-content {
      padding-left: 1%;
      padding-right: 0;
    }

    .img-content {
      padding-right: 5%;
      padding-left: 0;
    }
  }

  .content-destination {
    width: 75%;
    margin: 0 auto 30px;

    img {
      border-radius: 10px;
      width: 80vw;
    }
  }

  .content-pick {
    padding-top: 30px;
    border-top: 2px dashed @navigation-border;
    display: flex;
    justify-content: space-between;
    width: 80vw;

    .destination {
      width: 30%;
      margin-bottom: 30px;
      text-align: center;

      p{
        text-align: left;
        margin-left: 2vw;
        font-size: 1.6rem;
      }
    }
  }
}// home