// Navigation Styles here
  
.navigation{
    width: 85vw;
    max-width: 800px;
} 

nav{
    padding: 15px;
    display: flex;
    justify-content: space-evenly;
    max-width: 700px;

      a{
      text-decoration: none;
      color: black;
      font-size: 1.8rem;
      padding-left: 25px;

    }
  }